<body>
<div class="body">
<div class="profile-container">
     <div class="container"> <!-- ここを追加 -->
      <div class="row">   <!-- ここを追加 -->
       <div class="col-xs-3">
    	   <h2>User info</h2>
            <table class="table table-striped">
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
            </table>
            <table class="table">
        	   <tbody>
        		<tr>
        			<th>name</th>
        			<th><%=@user.name%></th>
        		</tr>
        		<tr>
        			<th>introduction</th>
        			<th><%=@user.introduction%></th>
        		</tr>
        	   </tbody>
            </table>
            <div class="row">
        	<%= link_to "", edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench"%>
            </div>

            <h2>New book</h2>
            <%= form_for(@book) do |f| %>
             <% if @book.errors.any? %>
              <p>error</p>
            <% @book.errors.full_messages.each do |msg| %>

                 <%= msg %><br>

            <% end %>
            <% end %>
                <label for="book_title">Title</label>
                <%= f.text_field :title %>

                <label for="book_opinion">Opinion</label>
                <%= f.text_area :body %>

                <%= f.submit 'Create Book' %>
            <% end %>
        </div>

            <div class="col-xs-9">
             <h1>Users</h1>
             <table class="table table-striped">
                <thead>
                 <tr>
                    <th>image</th>
                <th>name</th>
                 </tr>
                </thead>
                <tr>
                <% @users.each do |user| %>
                <tbody>
                <td> <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %></td>
                <td><%=user.name%></td>
               <td><%= link_to "Show" , user_path(user.id) %></td>
            </tbody>
            <%end%>
            </tr>
            </table>
              </table>
            </div>
    </div>
</div>
</div>
</div>
</body>
